Data Tes.xlsx
*.pyc
lab.py
.env
venv
venv/
src/docs/main-program-setup.txt
src/ai/vector_loader.ipynb
src\ai\agent_lab.ipynb
agent_lab.ipynb
rag_lab.ipynb
graph_visual_v1.png
graph_visual_v2.png
graph_visual_v3.png
*.db-wal
*.db-shm
src/ai/email_agent_memory.db
temp/
main-bk.py
notes.txt
/logs
src/ai/agent_lab2.ipynb
agent_lab2.ipynb
docs
output.png
